@font-face {
    src: url("../game_Project/font/fonts-master/ttf/Sam3KRFont.ttf");
    font-family: "jua";
}

#text{
    font-family: "jua";
}

#text2{
    font-family: "jua";
}
#text3{
    font-family: "jua";
}